.texto {
    font-family: Times New Roman;
}
            
.texto2 {
    font-family: 'Tangerine', serif;
}
              
.texto3 {
    font-family: 'Anton', serif;
}
              
.texto4 {
    font-family: 'Italianno', serif;
}